.container{
    margin: 0;
    padding: 0;
}
.col{
    background-color: lightgrey;
     height:85vh
  }
  .title{
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 450px;
    justify-content: space-between;
  }
  