
.card{
    border: solid blue;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .headerRow {
    display: flex;
  }
  
  .titleCol {
    flex: 10;
  }
  
  .iconCol {
    flex: 2;
    display: flex;
  }
  
  .icon{
    margin-right: 10px;
    cursor: pointer;
    color: lightgray;
    margin-top: 3px;
  }
  
  .timeText {
    margin-left: 10px;
    cursor: pointer;
    color: lightgray;
    margin-top: 3px;
  }
  
  
  .contentRow {
    margin-top: 10px;
  }
  
  .actionsContainer {
    display: flex;
    width: 120px;
    align-items: center;
    margin: auto;
    border-radius: 12px;
  }
  
  .actionsText {
    color: lightgray;
  }
  