/* 
.form{
    margin-bottom: 1.5rem;
    justify-content: space-around;  
}

.form input{
    margin-bottom: 1.5rem;
}

.form button{
    border-radius: 3rem;
    width: 14rem;
    margin-left: 6rem;
}
 */
